.container {
  background-color: #f5f6fa;
  width: 100%;
  height: 89.625rem;
  padding: 5.313rem 3.75rem 7.688rem 6.25rem;
}

.allContent {
  /* width: 87.5rem; */
  height: 68.563rem;
  margin: 0 48px;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 #0000000c;
  background-color: #fafafa;
}

.navBar {
  height: 62px;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 2.5rem;
  background-color: #fff;
}

.navBar li {
  list-style: none;
}

.navItems {
  padding: 0 2% 0 0;
}

.navItems a {
  text-decoration: none;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.logo {
  padding: 5px 3% 0 15px;
}

.logo a {
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.navBar li a {
  text-decoration: none;
}

.userIcon {
  margin: 0 0 0 35%;
}

.icon {
  width: 26px;
  height: 26px;
  color: #0290ff;
}

.row {
  width: 90%;
}

.displayCol {
  width: auto;
  margin: 0 0 12px 64px;
  height: 10.625rem;
  border-radius: 4px;
  padding: 0;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.displayCol .row {
  margin: 0;
  padding: 0;
}

.colRow {
  width: 100%;
  margin: 0;
  padding: 0;
}

.genre {
  width: 3.063rem;
  height: 1.125rem;
  padding: 10px 0 16px 0;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.title {
  height: 1.813rem;
  margin: 0.188rem 0 0 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.author {
  display: block;
  height: 1.188rem;
  margin: 5px 0 20px 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.col-8 button {
  height: 1.188rem;
  background-color: #fff;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.comment,
.remove {
  border-right: solid 3px #eaeaea;
}

.edit {
  border-right: none;
}

.readingPosition {
  border-left: solid 2px #eaeaea;
  justify-content: flex-end;
}

.percentComplete {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  float: right;
}

.completed {
  float: right;
}

.chapterIndicator {
  display: block;
  text-align: center;
  font-family: RobotoSlab, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
  margin-top: 12px;
}

.readingPosition .progress {
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: 200;
  text-align: center;
  width: 8.8rem;
  margin: 12px 0 0 0;
  padding: 4px 2px 20px 5px;
  border-radius: 3px;
  background-color: #0290ff;
  border: transparent;
  color: #fff;
}

.newBook h1 {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

input {
  width: 41.5rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0 0;
  padding: 0.813rem 35.688rem 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #fff;
  background-color: #fff;
}

select {
  width: 17.813rem;
  height: 2.813rem;
  margin: 0 24px;
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: solid 1px #fff;
  background-color: #fff;
}

.addBookBtn {
  border: none;
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: #fff;
}

.currentChapter {
  opacity: 0.5;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  text-align: center;
}